<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'vitae/assets/img/favicon.ico' %}" />
        {% block page_css %}{% endblock %}
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        {% block page_js %}{% endblock %}
        <title>{% block page_title %}{% endblock %}</title>
    </head>

    {% block content %}
    {% endblock %}

    {% block end_js %}
    {% endblock %}
</html>
