{% extends 'vitae/base.html' %}
{% block page_title %}
    Login
{% endblock %}

{% block page_css %}
    {% load static %}
    <link href="{% static 'vitae/css/signup.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="wrapper wrapper--w790 p-t-180">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Vitae - Sign in</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.username }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.password }}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block nav-links %}
    <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
    </li>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    </ul>
{% endblock %}

{% block search-box %}
    <form class="form-inline mt-0 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Profiles" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}