{% extends 'vitae/base.html' %}
{% block page_title %}
    Login
{% endblock %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'vitae/css/signin.css' %}">
{% endblock %}

{% block content %}
    <body class="text-center">
        <form class="form-signin" method="post" action="{% url 'login' %}">
            {{ form.non_field_errors }}
            {% for field in form %}
                <label class="sr-only" for="{{field.label}}"></label>
                {{ field }}
            {% endfor %}
            <button id="id_login_button" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            {% csrf_token %}
        </form>
    </body>
{% endblock %}