{% extends 'vitae/base.html' %}
{% block page_title %}
    Login | Vitae
{% endblock %}

{% block page_css %}
    {% load static %}
    <link href="{% static 'vitae/css/signup.css' %}" rel="stylesheet" media="all">
    <style>
        main {
            height: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="wrapper wrapper--w790 p-t-180">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Vitae - Sign in</h2>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">
                            <img class="img-fluid mx-auto mb-2" src="{% static 'vitae/assets/img/signin_with_google.png' %}" alt="" />
                        </a>
                    </div>
                    <div class="separator">
                        <span class="separator-text">Or</span>
                    </div> <br><br>
                    <form method="POST" action="{% url 'login' %}">
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.username }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.password }}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
