{% extends 'vitae/base.html' %}

{% block page_title %}
    {{ profileOwner.first_name }} {{ profileOwner.last_name }} | Vitae
{% endblock %}

{% block page_css %}
    {% load static %}
    <link href="{% static 'vitae/css/profile.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block nav-links %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    </ul>
{% endblock %}

{% block profile-nav %}
    <!-- Navigation-->
    <div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark gradient-bg fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">{{ profileOwner.first_name }} {{ profileOwner.last_name }}</span>
            <span class="d-none d-lg-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'vitae/assets/img/defaultProfilePic.jpg' %}" alt="" />
                </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                {% if workElements|length > 0 %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                {% endif %}
                {% if educationElements|length > 0 %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                {% endif %}
                {% if projectElements|length > 0 %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
                {% endif %}
                {% if skillElements|length > 0 %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    </div>
{% endblock %}

{% block content %}
    <div id="page-top">
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        {{ profileOwner.first_name }}
                        <span class="gradient-text">{{ profileOwner.last_name }}</span>
                        <i class="title-icon fas fa-edit"></i>
                    </h1>
                    <div class="subheading mb-5">
                        {{ profileOwner.profile.location }} • {{ profileOwner.profile.phone }} •
                        <a class="gradient-text" href="mailto:name@email.com">{{ profileOwner.email }}</a>
                    </div>
                    <h2 class="gradient-text">
                        {{ profileOwner.profile.title1 }} | {{ profileOwner.profile.title2 }} | {{ profileOwner.profile.title3 }}
                    </h2>
                    <p class="lead mb-5">{{ profileOwner.profile.bio }}</p>
                    <div class="social-icons">
                        <!-- TODO: Don't add if link not available -->
                        <a class="social-icon" href="{{ profileOwner.profile.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="{{ profileOwner.profile.github }}"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="{{ profileOwner.profile.twitter }}"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="{{ profileOwner.profile.facebook }}"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <!-- Add Section Dropdown -->
                    {% if user.get_username == profileOwner.username %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" >
                                Add section
                            </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button data-toggle="modal" data-target="#addWorkExperiencePopup"
                                    class="dropdown-item">Work Experience</button>
                            <button data-toggle="modal" data-target="#addEducationPopup"
                                    class="dropdown-item">Education</button>
                            <button data-toggle="modal" data-target="#addProjectPopup"
                                    class="dropdown-item">Projects</button>
                            <button data-toggle="modal" data-target="#addSkillPopup"
                                    class="dropdown-item">Skills</button>
                        </div>
                    </div>
                    {% endif %}

                    <div class="modal fade" id="addWorkExperiencePopup" tabindex="-1" role="dialog" aria-labelledby="addSectionPopupLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title gradient-text" id="addSectionPopupLabel">
                                        Add work experience
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'editProfile' 'work' %}">
                                    <div id="modal-form-div" class="modal-body">
                                        {{ addWorkExperienceForm.non_field_errors }}
                                        {% for field in addWorkExperienceForm %}
                                            {{ field }}
                                        {% endfor %}
                                        {% csrf_token %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary gradient-bg">Add work experience</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="addEducationPopup" tabindex="-1" role="dialog" aria-labelledby="addSectionPopupLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title gradient-text" id="addSectionPopupLabel">
                                        Add education
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'editProfile' 'education' %}">
                                    <div id="modal-form-div" class="modal-body">
                                        {{ addEducationForm.non_field_errors }}
                                        {% for field in addEducationForm  %}
                                            {{ field }}
                                        {% endfor %}
                                        {% csrf_token %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary gradient-bg">Add education</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="addProjectPopup" tabindex="-1" role="dialog" aria-labelledby="addSectionPopupLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title gradient-text" id="addSectionPopupLabel">
                                        Add project
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'editProfile' 'project' %}">
                                    <div id="modal-form-div" class="modal-body">
                                        {{ addProjectForm.non_field_errors }}
                                        {% for field in addProjectForm  %}
                                            {{ field }}
                                        {% endfor %}
                                        {% csrf_token %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary gradient-bg">Add project</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="addSkillPopup" tabindex="-1" role="dialog" aria-labelledby="addSectionPopupLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title gradient-text" id="addSectionPopupLabel">
                                        Add skill
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{% url 'editProfile' 'skill' %}">
                                    <div id="modal-form-div" class="modal-body">
                                        {{ addSkillForm.non_field_errors }}
                                        {% for field in addSkillForm  %}
                                            {{ field }}
                                        {% endfor %}
                                        {% csrf_token %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary gradient-bg">Add skill</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end of modals -->

                </div>
            </section>
            {% if workElements|length > 0 %}
                <hr class="m-0" />
                <!-- Experience-->
                <section class="resume-section" id="experience">
                    <div class="resume-section-content">
                        <h2 class="mb-5">Work Experience</h2>
                        {% for element in workElements %}
                            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0">
                                        <span class="gradient-text">{{ element.company_name }}</span>
                                        – Mountain View, CA{{ element.location }}
                                        <i class="title-icon fas fa-edit"></i>
                                        </h3>
                                    </h3>
                                    <div class="subheading mb-3">{{ element.job_title }}</div>
                                    <p>{{ element.description }}</p>
                                </div>
                                <div class="flex-shrink-0"><span class="gradient-text">{{ element.start_date }} - {{ element.end_date }}</span></div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
            {% if educationElements|length > 0 %}
                <hr class="m-0" />
                <!-- Education-->
                <section class="resume-section" id="education">
                    <div class="resume-section-content">
                        <h2 class="mb-5">Education</h2>
                        {% for element in educationElements %}
                            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0 gradient-text">{{ element.school_name }}
                                        <i class="title-icon fas fa-edit"></i>
                                    </h3>
                                    <div class="subheading mb-3">{{ element.school_location }}</div>
                                    <div>{{ element.degree }}</div>
                                    <p>GPA: {{ element.gpa }}</p>
                                </div>
                                <div class="flex-shrink-0"><span class="gradient-text">Graduation: {{ element.graduation_date }}</span></div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
            {% if projectElements|length > 0 %}
                <hr class="m-0" />
                <!-- Projects -->
                <section class="resume-section" id="projects">
                    <div class="resume-section-content">
                        <h2 class="mb-5">Projects</h2>
                        {% for element in projectElements %}
                            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0 gradient-text">{{ element.name }}
                                        <i class="title-icon fas fa-edit"></i>
                                    </h3>
                                    <p>{{ element.description }}</p>
                                </div>
                                <div class="flex-shrink-0"><span class="gradient-text">{{ element.start_date }} – {{ element.end_date }}</span></div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
            {% if skillElements|length > 0 %}
                <hr class="m-0" />
                <!-- Skills-->
                <section class="resume-section" id="skills">
                    <div class="resume-section-content">
                        <h2 class="mb-5">Skills</h2>
                        {% for element in skillElements %}
                            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0 gradient-text">{{ element.name }}
                                        <i class="title-icon fas fa-edit"></i>
                                    </h3>
                                    <div class="subheading mb-3">Proficiency: {{ element.proficiency }}/10.0</div>
                                    <p>{{ element.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="{% static 'vitae/js/jquery.bootstrap.modal.forms.js' %}"></script>
        <script src="{% static 'vitae/js/profile.js' %}"></script>
    </div>
{% endblock %}