{% extends 'vitae/base.html' %}

{% block page_title %}
    Register
{% endblock %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'vitae/css/signin.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <body class="text-center">
    <div id="page-top">
        <div class="container-fluid p-0">
            <h1 class="mb-0">
                Vitae<br>
                <span class="text-primary">Register</span>
            </h1>
        </div>

        <div class="container-fluid p-0">
            <form class="form-signin" method="post" action="{% url 'register' %}">
                {{ form.non_field_errors }}
                {% for field in form %}
                    <label class="sr-only" for="{{field.label}}"></label>
                    {{ field }}
                {% endfor %}
                <button id="id_register_button" class="btn btn-lg btn-primary btn-block form-button" type="submit">Register</button>
                {% csrf_token %}
            </form>
        </div>
        </div>
    </body>
{% endblock %}


{% block nav-links %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    </ul>
{% endblock %}

{% block search-box %}
    <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Profiles" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}
