{% extends 'vitae/base.html' %}

{% block page_title %}
    Register | Vitae
{% endblock %}

{% block page_css %}
    {% load static %}
    <link href="{% static 'vitae/css/signup.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="wrapper wrapper--w960 p-t-100">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Vitae - Register</h2>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">
                            <img class="img-fluid mx-auto mb-2" src="{% static 'vitae/assets/img/btn_google_signin_light_normal_web@1_5x.png' %}" alt="" />
                        </a>
                    </div>
                    <div style="width: 100%; height: 20px; border-bottom: 1px solid gray; text-align: center">
                      <span style="font-size: 25px; color: gray; background-color: #F3F5F6; padding: 0 10px;">
                        Or
                      </span>
                    </div>
                    <form enctype="multipart/form-data" method="POST" action="{% url 'register' %}">
                        <div class="form-row">
                            {{ form.non_field_errors }}
                        </div>
                        {% csrf_token %}
                        <div class="form-row m-b-55">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.first_name }}
                                            <label class="label--desc">first name</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.last_name }}
                                            <label class="label--desc">last name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">Contact Information</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.email }}
                                            <label class="label--desc">email</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.phone }}
                                            <label class="label--desc">phone number</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.username }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.password }}
                                            <label class="label--desc">password</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.confirm_password }}
                                            <label class="label--desc">confirm password</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.location }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">Socials</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.github }}
                                            <label class="label--desc">Github</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.twitter }}
                                            <label class="label--desc">Twitter</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.linkedin }}
                                            <label class="label--desc">LinkedIn</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.facebook }}
                                            <label class="label--desc">Facebook</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Tell people about yourself!</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.bio }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">3 titles you would give yourself</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.title1 }}
                                            <label class="label--desc">Title 1</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.title2 }}
                                            <label class="label--desc">Title 2</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group-desc">
                                            {{ form.title3 }}
                                            <label class="label--desc">Title 3</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Profile picture</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.profile_picture }}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
