{% extends 'vitae/base.html' %}
{% block page_title %}
    Search Results | Vitae
{% endblock %}

{% block page_css %}
    {% load static %}
    <link href="{% static 'vitae/css/searchResults.css' %}" rel="stylesheet" media="all">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="wrapper wrapper--w790 p-t-180">
            {% for user in results %}
                <a href="{% url 'profile' user %}">
                    <div class="card card-5">
                        <div class="card-heading">
                            <h2 class="title">{{ user.first_name }} {{ user.last_name }}</h2>
                        </div>
                        <!-- Do not show card body if user does not have a bio or any titles -->
                        {% if user.profile.bio or user.profile.title1 or user.profile.title2 or user.profile.title3 %}
                        <div class="card-body">
                            <h4>
                                {{ user.profile.title1 }}{% if user.profile.title2 %} | {% endif %}{{ user.profile.title2 }}{% if user.profile.title3 %} | {% endif %}{{ user.profile.title3 }}
                            </h4>
                            <br>
                            {{ user.profile.bio|truncatechars:175 }}
                        </div>
                        {% endif %}
                    </div>
                </a>
                <br><br>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
