{% extends 'vitae/base.html' %}
{% block page_title %}
    Search
{% endblock %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'vitae/css/search.css' %}">
    <link rel='stylesheet' href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css'>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row text-center mx-auto d-block">
            <img class="logo" src="{% static 'vitae/assets/img/cv.svg' %}">
            <h1 class="mb-0">VITAE</h1>
        </div>
        <div class="row justify-content-center align-items-center">
        <div class="search-box ">
            <div class="search-icon">
                <i class="fa fa-search search-icon"></i>
            </div>
            <form action="" class="search-form">
                <input type="text" placeholder="Search" id="search" autocomplete="off">
            </form>

            <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
                 xml:space="preserve">
                    <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
                <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
                </svg>
            <div class="go-icon">
                <i class="fa fa-arrow-right"></i>
            </div>
        </div>
        </div>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{% static 'vitae/js/search.js' %}"></script>
{% endblock %}

{% block nav-links %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    </ul>
{% endblock %}

<!-- Empty search box in this page so we don't have duplicate ones -->
{% block search-box %}
{% endblock %}

